{{!
@template format_mooin1pager/local/content/coursefrontpage

Displays the course frontpage.

Example context (json):
{
"header": {
"headerimageURL": URL,
},
"coursename": "Coursename",
"coureprogress": {

}
}
}}

    <div class="coursefrontpage">
        <div class="coursefrontpage__main">
            {{#header}}
                {{> format_mooin1pager/local/content/frontpage/header }}
            {{/header}}
            <div class="mobile-bg">
                {{#news_section}}
                    {{#newssection_visibility}}
                        {{> format_mooin1pager/local/content/frontpage/news_section }}
                    {{/newssection_visibility}}         
                {{/news_section}}
                
                {{#courseprogress}}
                    {{#progressbar_visibility}}
                        {{> format_mooin1pager/local/content/frontpage/courseprogress }}
                        <div class="seperator"></div>
                    {{/progressbar_visibility}}
                {{/courseprogress}}
                {{> format_mooin1pager/local/content/frontpage/tabletTiles }}
                {{> format_mooin1pager/local/content/frontpage/mobileTiles }}
                {{! format_mooin1pager/local/content/frontpage/coursetable }}
                 {{#initialsection}}
                {{#editing}}
                    <div id="custom-section-0">
                        {{$ core_courseformat/local/content/section }}
                            {{> format_mooin1pager/local/content/frontpage/section0 }}
                        {{/ core_courseformat/local/content/section }}
                    </div>
                {{/editing}}
                {{/initialsection}}
                <div id="mooin-sections">
                    {{#sections}}
                        {{> format_mooin1pager/local/content/section }}
                    {{/sections}}
                </div>
                {{#unenrolurl}}
                    <a href="{{{unenrolurl}}}" class="unenrol-btn">{{#str}}unenrol, format_mooin1pager{{/str}}</a>
                {{/unenrolurl}}
            </div>
            
        </div>
        <div class="coursefrontpage__side d-none d-lg-flex">
            {{> format_mooin1pager/local/content/frontpage/badges_and_certificates }}
            {{> format_mooin1pager/local/content/frontpage/community }}
        </div> 
    </div>


    

